---
import Layout from '@layouts/page.astro';
---

<Layout title="Not Found">
  <h2 class="mb-3 text-2xl font-bold">Not Found</h2>
  <p class="content-links">
    The page you&rsquo;re looking for can&rsquo;t be found. Return to the{' '}
    <a href="/">home</a> page.
  </p>
</Layout>
