---
import clsx from 'clsx';

export interface Props {
  children: any;
  paddingBreakpoint?: string;
  width?: string;
}

const { paddingBreakpoint = 'md:px-0', width = 'max-w-3xl' } = Astro.props;
---

<div class={clsx('container mx-auto min-h-screen px-4 flex flex-col', width, paddingBreakpoint)}>
  <slot />
</div>
