---
import { MastodonIcon, GitHubIcon } from '@components/icons.astro';

const currentYear = new Date().getFullYear();
---

<div
  class="mt-16 mb-8 flex justify-between border-t pt-4 text-xs text-gray-500 dark:border-gray-800 dark:text-gray-500 md:text-sm"
>
  <div>
    &copy; {currentYear}
    <a href="/" class="hover:text-black hover:underline dark:hover:text-gray-400">Ian Sutherland</a>. All Rights
    Reserved.
  </div>
  <div class="mt-1 space-x-2">
    <a
      href="https://cosocial.ca/@iansu"
      class="inline-block h-3 w-3 hover:text-black dark:hover:text-white md:h-4 md:w-4"
    >
      <MastodonIcon />
    </a>
    <a
      href="https://github.com/iansu"
      class="inline-block h-3 w-3 hover:text-black dark:hover:text-white md:h-4 md:w-4"
    >
      <GitHubIcon />
    </a>
  </div>
</div>
