---
import Logo from '@components/logo.astro';
import NavigationToggle from '@components/navigation/toggle.astro';
---

<div class="flex justify-between pt-10 pb-12" style={{ height: '136px' }}>
  <Logo withName={true} />
  <div class="mt-3 flex space-x-3 text-black dark:text-white">
    <NavigationToggle />
  </div>
</div>
