---
import clsx from 'clsx';

export interface Props {
  class?: string;
  description: string;
  href: string;
  title: string;
}

const { class: className, description, href, title } = Astro.props;
---

<li
  class={clsx(
    className,
    'mb-4 list-none rounded-md border border-gray-200 bg-gray-50 hover:border-gray-300 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:border-gray-600 dark:hover:bg-gray-700'
  )}
>
  <a href={href}>
    <div class="flex items-center p-4">
      <div class="mr-6 w-12 h-12 flex flex-col justify-center"><slot name="icon" /></div>
      <div class="block flex-grow">
        <h2 class="text-xl font-bold">{title}</h2>
        <p>{description}</p>
      </div>
    </div>
  </a>
</li>
