---
---

<a id="navigation-toggle" href="/navigation" title="Navigation menu (cmd+k)">
  <div class="h-10 w-10 cursor-pointer px-2 pt-3">
    <svg
      class="navigation-icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-6 w-6"
    >
      <path
        fill-rule="evenodd"
        d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
</a>

<style>
  :global(.dark) #navigation-toggle {
    color: white;
  }

  :global(.dark) #navigation-toggle:hover,
  #navigation-toggle:hover {
    color: #f6aa26;
  }
</style>

<script>
  import { trigger } from '@lib/events';

  const handleToggleClick = (event: Event) => {
    event.preventDefault();
    trigger('navigation:toggle');
  };

  document.getElementById('navigation-toggle')?.addEventListener('click', handleToggleClick);
</script>
