---
export interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<li
  class="mb-1 list-none rounded hover:border-gray-300 hover:bg-gray-100 dark:hover:border-gray-700 dark:hover:bg-gray-800"
>
  <a href={href}>
    <div class="flex items-center p-4">
      <div class="mr-3 w-6 h-6 flex flex-col justify-center text-gray-500 dark:text-gray-400"><slot name="icon" /></div>
      <div class="block flex-grow">
        <p class="text-lg text-gray-700 dark:text-gray-300">{title}</p>
      </div>
    </div>
  </a>
</li>
