@tailwind base;
@tailwind components;
@tailwind utilities;

.content-links a,
.content-links a:visited {
  color: black;
  border-bottom: 2px solid rgba(177, 229, 251, 0.6);
  box-shadow: inset 0 -8px 0 rgba(177, 229, 251, 0.6);
  text-decoration: none;
}

.content-links a:hover {
  background-color: rgba(177, 229, 251, 0.6);
  border-bottom: 2px solid rgba(177, 229, 251, 0.6);
  text-decoration: none;
}

.content-links a:active {
  color: black;
}

html.dark .content-links a,
html.dark .content-links a:visited {
  color: rgba(229, 231, 235, 1);
  border-bottom: 2px solid rgb(45, 98, 121);
  box-shadow: inset 0 -8px 0 rgb(45, 98, 121);
  text-decoration: none;
}

html.dark .content-links a:hover {
  background-color: rgb(45, 98, 121);
  border-bottom: 2px solid rgb(45, 98, 121);
  text-decoration: none;
}

html.dark .content-links a:active {
  color: rgba(229, 231, 235, 1);
}

.color-angellist,
.hover-color-angellist:hover {
  color: #000;
}

.dark .hover-color-angellist:hover {
  color: #fff;
}

.color-github,
.hover-color-github:hover {
  color: #181717;
}

.dark .hover-color-github:hover {
  color: #fff;
}

.color-instagram,
.hover-color-instagram:hover {
  color: #e4405f;
}

.color-linkedin,
.hover-color-linkedin:hover {
  color: #0a66c2;
}

.color-spotify,
.hover-color-spotify:hover {
  color: #1ed760;
}

.color-twitch,
.hover-color-twitch:hover {
  color: #9146ff;
}

.color-twitter,
.hover-color-twitter:hover {
  color: #1da1f2;
}

.color-youtube,
.hover-color-youtube:hover {
  color: #f00;
}
